<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/xml; charset=UTF-8" />
  <title>Security Threat Detected: Malware Risk</title>
</head>
<body>
  <div>
    <h2>
      <font size="3">
	<font color="red">
	  <b>SECURITY THREAT DETECTED AND BLOCKED</b>
	</font>
      </font>
    </h2>
    <p>
      <font size="2">Based on corporate security threat information, access to the web site has been blocked.</font>
    </p>
    <p>
      <font size="2">If you believe this hostname was misclassified, please open a case with Infosec, providing the corresponding debug information below:</font>
    </p>
  </div>
  <blockquote>
    <table style="border: 1px solid grey">
      <tr>
	<td rowspan="1" colspan="1" />
	<td rowspan="1" colspan="1">Date:</td>
	<td rowspan="1" colspan="1"> {{.Timestamp | Date}} </td>
      </tr>
      <tr>
	<td rowspan="1" colspan="1" />
	<td rowspan="1" colspan="1">Time:</td>
	<td rowspan="1" colspan="1"> {{.Timestamp | Time}} </td>
      </tr>
      <tr>
	<td rowspan="1" colspan="1" />
	<td rowspan="1" colspan="1">Client IP address:</td>
	<td rowspan="1" colspan="1">{{.Source}}</td>
      </tr>
      <tr>
	<td rowspan="1" colspan="1" />
	<td rowspan="1" colspan="1">Request URL:</td>
	<td rowspan="1" colspan="1">{{.Header.Host}}</td>
      </tr>
      <tr>
	<td rowspan="1" colspan="1" />
	<td rowspan="1" colspan="1">User-Agent:</td>
	<td rowspan="1" colspan="1">{{.Header.User_Agent}}</td>
      </tr>
      <tr>
	<td rowspan="1" colspan="1" />
	<td rowspan="1" colspan="1">Request Method:</td>
	<td rowspan="1" colspan="1">{{.Header.Method}}</td>
      </tr>
    </table>
  </blockquote>
</body>
</html>
